
.button{
    height: 40px;
    background-color: #0078AA;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;

}

.button:hover{
    cursor: pointer;
    background-color: #F2DF3A;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
}